body {
    font-family: 'Source Code Pro', monospace;
    background-color: beige;
}

header {
    background-color: #1c1d1f;
    color: white;
}

.aHeader {
    display: flex;
    align-content: space-around;
}

a {
    color: #ffbe2e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.rounded-full {
    border-radius: 9999px;
}

.sololearn {
    text-shadow: 5px 2px 4px blue;
}
