body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    background-color: beige;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1c1d1f;
    color: white;
    text-decoration: none;
}

a {
    margin: 10px;
    color: #ffbe2e;
    text-decoration: none;
}

main {
    height: 80vh;
}

img {
    margin: 10px;
}

a:hover {
    text-decoration: underline;
}

.rounded-full {
    border-radius: 9999px;
}

.b {
    font-weight: bold;
}

.fontLarger {
    font-size: larger;
}

.between {
    display: flex;
    justify-content: space-between;
}

.around {
    display: flex;
    justify-content: space-around;
}

.center {
    display: flex;
    justify-content: center;
}

.flexCenter {
    display: flex;
    align-items: center;
}

.margin7 {
    margin: 7px;
}

.Width70 {
    width: 70%;
}