body {
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(160, 160, 160);
    padding-left: 100px;
    padding-right: 100px;
}

#ausmalbilder {
    color: rgb(72, 125, 185);
}

#aus {
    color: black;
}

#leipnitz {
    color: rgb(194, 63, 63);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
    font-weight: bold;
}

a:hover {
    color: black;
}

section {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

footer {
    padding-block: 20px;
    margin: 8px;
    display: flex;
    justify-content: space-evenly;
}

.headerImage {
    width: 100%;
    height: 70%;
    object-fit: cover;
    display: block;
}

.imageContainer {
    background-color: white;
    padding: 8px;
    display: block;
}

.imageSubText {
    background-color: rgb(160, 160, 160);
    padding: 8px;
    font-size: small;
}

.regularText {
    background-color: rgb(160, 160, 160);
}

.mpasRight {
    width: 30%;
    padding: 8px;
    margin-left: 8px;
}

.footerLinks {
    font-weight: bold;
}

#maps {
    border: 0;
    height: 350px;
    width: 70%;
}